AuthZ.json
{"flowContents":{"identifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","instanceIdentifier":"d9cac706-0195-1000-12ae-e15fc3516f43","name":"AuthZ","comments":"","position":{"x":-200.0,"y":-192.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"736104ee-bc21-3c83-8a6f-99573fdeefe9","instanceIdentifier":"da8a8fc1-0195-1000-3158-772f21c7b4ca","name":"GenerateFlowFile","comments":"","position":{"x":-240.0,"y":-920.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"},{"identifier":"2feb25df-84af-3b96-86e8-c422fe45e841","instanceIdentifier":"d9e14289-0195-1000-302d-c1244141045f","name":"Wait","comments":"","position":{"x":-176.0,"y":-232.0},"type":"org.apache.nifi.processors.standard.Wait","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"wait-buffer-count":"1","wait-mode":"wait","attribute-copy-mode":"keeporiginal","distributed-cache-service":null,"releasable-flowfile-count":"1","release-signal-id":null,"signal-counter-name":null,"expiration-duration":"10 min","target-signal-count":"1","wait-penalty-duration":null},"propertyDescriptors":{"wait-buffer-count":{"name":"wait-buffer-count","displayName":"Wait Buffer Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"wait-mode":{"name":"wait-mode","displayName":"Wait Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-copy-mode":{"name":"attribute-copy-mode","displayName":"Attribute Copy Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"distributed-cache-service":{"name":"distributed-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"releasable-flowfile-count":{"name":"releasable-flowfile-count","displayName":"Releasable FlowFile Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"release-signal-id":{"name":"release-signal-id","displayName":"Release Signal Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"signal-counter-name":{"name":"signal-counter-name","displayName":"Signal Counter Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"expiration-duration":{"name":"expiration-duration","displayName":"Expiration Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"target-signal-count":{"name":"target-signal-count","displayName":"Target Signal Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"wait-penalty-duration":{"name":"wait-penalty-duration","displayName":"Wait Penalty Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"},{"identifier":"3ecb0b2a-c747-3304-9d95-f098802c118c","instanceIdentifier":"d9cbd3cc-0195-1000-d258-bf4e87649112","name":"InvokeHTTP","comments":"","position":{"x":-256.0,"y":-688.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"#{baseurl}#{authz_policy_endpoint}?pageSize=2","Request OAuth2 Access Token Provider":"024e2c2e-0284-305b-9ffd-5422b442e1b4","Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Accept":"#{authz_policy_endpoint_ct}","Socket Write Timeout":"15 secs","mime.type":"#{authz_policy_endpoint_ct}","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Accept":{"name":"Accept","displayName":"Accept","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"},{"identifier":"944b6e22-575b-3572-9e75-667a4ef6412c","instanceIdentifier":"daecc885-0195-1000-7af9-2f045ed5ff36","name":"JoltTransformJSON","comments":"","position":{"x":400.0,"y":-488.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.3.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"true","Jolt Specification":"[\n    {\n        \"operation\": \"remove\",\n        \"spec\": {\n            \"*\": {\n                \"id\": \"\",\n                \"version\": \"\"\n            }\n        }\n    },\n    {\n        \"operation\": \"modify-overwrite-beta\",\n        \"spec\": {\n            \"*\": {\n                \"realm\": \"PP-BHF-QA1\"\n            }\n        }\n    }\n]"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"8bb44e57-4bc4-3c36-bf90-d80b6dc08f5b","instanceIdentifier":"daed9c3e-0195-1000-5289-578bfde9509a","name":"","source":{"id":"944b6e22-575b-3572-9e75-667a4ef6412c","type":"PROCESSOR","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"JoltTransformJSON","comments":"","instanceIdentifier":"daecc885-0195-1000-7af9-2f045ed5ff36"},"destination":{"id":"2feb25df-84af-3b96-86e8-c422fe45e841","type":"PROCESSOR","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"Wait","comments":"","instanceIdentifier":"d9e14289-0195-1000-302d-c1244141045f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":128.0,"y":-367.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"},{"identifier":"eebf875f-8805-3fda-a009-161bbdffb91c","instanceIdentifier":"daed6b06-0195-1000-b475-61ac53f22d25","name":"","source":{"id":"944b6e22-575b-3572-9e75-667a4ef6412c","type":"PROCESSOR","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"JoltTransformJSON","comments":"","instanceIdentifier":"daecc885-0195-1000-7af9-2f045ed5ff36"},"destination":{"id":"2feb25df-84af-3b96-86e8-c422fe45e841","type":"PROCESSOR","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"Wait","comments":"","instanceIdentifier":"d9e14289-0195-1000-302d-c1244141045f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"},{"identifier":"951c9f4a-36d2-336b-aedc-4e9998d1a927","instanceIdentifier":"daed31f7-0195-1000-b049-dddece8747ec","name":"","source":{"id":"3ecb0b2a-c747-3304-9d95-f098802c118c","type":"PROCESSOR","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"InvokeHTTP","comments":"","instanceIdentifier":"d9cbd3cc-0195-1000-d258-bf4e87649112"},"destination":{"id":"944b6e22-575b-3572-9e75-667a4ef6412c","type":"PROCESSOR","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"JoltTransformJSON","comments":"","instanceIdentifier":"daecc885-0195-1000-7af9-2f045ed5ff36"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"},{"identifier":"a227c3b4-095e-31ed-8458-973f116c1c2f","instanceIdentifier":"dac89534-0195-1000-f6aa-aff111ced18b","name":"","source":{"id":"3ecb0b2a-c747-3304-9d95-f098802c118c","type":"PROCESSOR","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"InvokeHTTP","comments":"","instanceIdentifier":"d9cbd3cc-0195-1000-d258-bf4e87649112"},"destination":{"id":"2feb25df-84af-3b96-86e8-c422fe45e841","type":"PROCESSOR","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"Wait","comments":"","instanceIdentifier":"d9e14289-0195-1000-302d-c1244141045f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-220.0,"y":-379.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"},{"identifier":"7728c641-5663-3994-9fa2-e8e6bffc590c","instanceIdentifier":"da8ac343-0195-1000-5adc-7a923ad7e8ac","name":"","source":{"id":"736104ee-bc21-3c83-8a6f-99573fdeefe9","type":"PROCESSOR","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"GenerateFlowFile","comments":"","instanceIdentifier":"da8a8fc1-0195-1000-3158-772f21c7b4ca"},"destination":{"id":"3ecb0b2a-c747-3304-9d95-f098802c118c","type":"PROCESSOR","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"InvokeHTTP","comments":"","instanceIdentifier":"d9cbd3cc-0195-1000-d258-bf4e87649112"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"},{"identifier":"fc8c6a0f-f0dd-3065-938a-8e998fa69a68","instanceIdentifier":"da876308-0195-1000-ffaa-3b9a663f6ea3","name":"","source":{"id":"3ecb0b2a-c747-3304-9d95-f098802c118c","type":"PROCESSOR","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"InvokeHTTP","comments":"","instanceIdentifier":"d9cbd3cc-0195-1000-d258-bf4e87649112"},"destination":{"id":"2feb25df-84af-3b96-86e8-c422fe45e841","type":"PROCESSOR","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"Wait","comments":"","instanceIdentifier":"d9e14289-0195-1000-302d-c1244141045f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"024e2c2e-0284-305b-9ffd-5422b442e1b4","instanceIdentifier":"da77da97-0195-1000-1c0a-6dc9d8851f5a","name":"StandardOauth2AccessTokenProvider","comments":"","type":"org.apache.nifi.oauth2.StandardOauth2AccessTokenProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-oauth2-provider-nar","version":"2.3.0"},"properties":{"audience":null,"grant-type":"client_credentials","ssl-context-service":null,"resource":null,"proxy-configuration-service":null,"refresh-window":"0 s","HTTP Protocols":"H2_HTTP_1_1","service-user-name":null,"client-authentication-strategy":"BASIC_AUTHENTICATION","authorization-server-url":"#{baseurl}#{oauth_token_endpoint}","client-secret":"#{client_secret}","scope":"all","client-id":"#{client_id}"},"propertyDescriptors":{"audience":{"name":"audience","displayName":"Audience","identifiesControllerService":false,"sensitive":false,"dynamic":false},"grant-type":{"name":"grant-type","displayName":"Grant Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"resource":{"name":"resource","displayName":"Resource","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"refresh-window":{"name":"refresh-window","displayName":"Refresh Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"service-password":{"name":"service-password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false,"dynamic":false},"service-user-name":{"name":"service-user-name","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"client-authentication-strategy":{"name":"client-authentication-strategy","displayName":"Client Authentication Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"authorization-server-url":{"name":"authorization-server-url","displayName":"Authorization Server URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"refresh-token":{"name":"refresh-token","displayName":"Refresh Token","identifiesControllerService":false,"sensitive":true,"dynamic":false},"client-secret":{"name":"client-secret","displayName":"Client secret","identifiesControllerService":false,"sensitive":true,"dynamic":false},"scope":{"name":"scope","displayName":"Scope","identifiesControllerService":false,"sensitive":false,"dynamic":false},"client-id":{"name":"client-id","displayName":"Client ID","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"}],"parameterContextName":"PP-BHF-QA","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{"All ":{"name":"All ","parameters":[{"name":"oauth_token_endpoint","description":"OAuth 2 Endpoint","sensitive":false,"provided":false,"value":"/oauth/v3/token"},{"name":"authz_policy_endpoint","description":"Authz Policy Endpoint","sensitive":false,"provided":false,"value":"/authz/v2/authorizationPolicies"},{"name":"authz_policy_endpoint_ct","description":"","sensitive":false,"provided":false,"value":"application/vnd.com.covisint.platform.authorization.policy.v1+json"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"},"PP-All":{"name":"PP-All","parameters":[{"name":"baseurl","description":"","sensitive":false,"provided":false,"value":"https://api.us1.pp.covisint.com"}],"inheritedParameterContexts":["All "],"componentType":"PARAMETER_CONTEXT"},"PP-BHF-QA":{"name":"PP-BHF-QA","parameters":[{"name":"client_secret","description":"Client Secret","sensitive":true,"provided":false},{"name":"client_id","description":"Client Id","sensitive":false,"provided":false,"value":"4Tj9HmIuOfKDRkHFNyIdJaxKMQJapZGZ"}],"inheritedParameterContexts":["PP-All"],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}