Compare,_Merge,_Patch.json
{"flowContents":{"identifier":"00f3d37a-c2e9-3bd2-99ed-6325c6659788","instanceIdentifier":"e72cd66f-0195-1000-1e10-d0fd96e73b49","name":"Compare, Merge, Patch","comments":"","position":{"x":-496.0,"y":-216.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4a229c56-e948-328a-8f21-04ad8bc58be1","instanceIdentifier":"e7310ccd-0195-1000-62a1-bca482fac436","name":"GenerateFlowFile","comments":"","position":{"x":-88.0,"y":-1008.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00f3d37a-c2e9-3bd2-99ed-6325c6659788"},{"identifier":"2d3128ea-beff-3356-b7e4-433e71f75e1e","instanceIdentifier":"e99faa48-0195-1000-5890-ae25579a662d","name":"Wait","comments":"","position":{"x":-456.0,"y":-216.0},"type":"org.apache.nifi.processors.standard.Wait","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"wait-buffer-count":"1","wait-mode":"wait","attribute-copy-mode":"keeporiginal","distributed-cache-service":"d82f4b76-54d4-3ac3-adab-2b9db2c2456a","releasable-flowfile-count":"1","release-signal-id":"${correlation.id}","signal-counter-name":"http_done","expiration-duration":"10 min","target-signal-count":"1","wait-penalty-duration":null},"propertyDescriptors":{"wait-buffer-count":{"name":"wait-buffer-count","displayName":"Wait Buffer Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"wait-mode":{"name":"wait-mode","displayName":"Wait Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-copy-mode":{"name":"attribute-copy-mode","displayName":"Attribute Copy Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"distributed-cache-service":{"name":"distributed-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"releasable-flowfile-count":{"name":"releasable-flowfile-count","displayName":"Releasable FlowFile Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"release-signal-id":{"name":"release-signal-id","displayName":"Release Signal Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"signal-counter-name":{"name":"signal-counter-name","displayName":"Signal Counter Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"expiration-duration":{"name":"expiration-duration","displayName":"Expiration Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"target-signal-count":{"name":"target-signal-count","displayName":"Target Signal Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"wait-penalty-duration":{"name":"wait-penalty-duration","displayName":"Wait Penalty Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00f3d37a-c2e9-3bd2-99ed-6325c6659788"},{"identifier":"8103d14d-db66-3b7a-b124-f3fbc33b3def","instanceIdentifier":"ea38576a-0195-1000-7f8c-bd8b73c3ca3f","name":"LogAttribute","comments":"","position":{"x":-448.0,"y":216.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00f3d37a-c2e9-3bd2-99ed-6325c6659788"},{"identifier":"9d36a416-8250-3bb6-929f-695f90833022","instanceIdentifier":"e8a4c974-0195-1000-f091-fe64a94fde78","name":"UpdateAttribute","comments":"","position":{"x":-80.0,"y":-680.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","correlation.id":"${UUID()}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"correlation.id":{"name":"correlation.id","displayName":"correlation.id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00f3d37a-c2e9-3bd2-99ed-6325c6659788"},{"identifier":"2a58d819-b37f-3f07-9676-7144114fcdab","instanceIdentifier":"ea28ba86-0195-1000-f888-6e22b02ab8c3","name":"LogAttribute","comments":"","position":{"x":-888.0,"y":16.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00f3d37a-c2e9-3bd2-99ed-6325c6659788"},{"identifier":"efd74c0c-1c72-3463-9b9c-dbb2726cac2b","instanceIdentifier":"e87448bf-0195-1000-0f8b-a2311e8f26c6","name":"InvokeHTTP - Target","comments":"","position":{"x":320.0,"y":-536.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"#{baseurl}#{prop_ep}?name=admin.user.id&name=exchange.package.id","Request OAuth2 Access Token Provider":"ccafeb84-0f69-31fa-9277-85f840cbc258","Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","mime.type":"#{prop_ct}","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00f3d37a-c2e9-3bd2-99ed-6325c6659788"},{"identifier":"aa544295-a0b0-36a8-a472-4437d83e5e8f","instanceIdentifier":"e9dc14a2-0195-1000-ae35-35eefb9e63ab","name":"ExecuteGroovyScript","comments":"","position":{"x":-456.0,"y":-8.0},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"2.3.0"},"properties":{"groovyx-script-body":"import org.apache.nifi.processor.io.StreamCallback\nimport java.nio.charset.StandardCharsets\nimport com.fasterxml.jackson.databind.ObjectMapper\nimport java.io.InputStream\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ndef correlationId = flowFile.getAttribute(\"correlation.id\")\n\n// Replace with your actual MapCacheClientService ID\ndef cacheServiceId = \"e9b33431-0195-1000-e188-1fc4e8390004\"\ndef mapCache = context.controllerServiceLookup.getControllerService(cacheServiceId)\n\ndef mapper = new ObjectMapper()\n\ntry {\n    // Step 1: Read content from HTTP1\n    def content1 = new StringBuilder()\n    flowFile = session.write(flowFile, { inputStream, outputStream ->\n        inputStream.eachLine { content1.append(it) }\n    } as StreamCallback)\n\n    if (content1.toString().trim().isEmpty()) {\n        log.warn(\"⚠️ FlowFile content from HTTP1 is empty for correlationId=${correlationId}\")\n    }\n\n    def json1 = mapper.readTree(content1.toString())\n\n    // Step 2: Read cached JSON from HTTP2\n    def cachedJson = mapCache.get(\n        correlationId + \"_data\",\n        { key, out -> out.write(key.bytes) }, // Serializer\n        { inStream ->\n            def content\n            if (inStream instanceof InputStream) {\n                content = inStream.text\n            } else if (inStream instanceof byte[]) {\n                content = new String(inStream, StandardCharsets.UTF_8)\n            } else {\n                throw new IOException(\"Unsupported input type for cache value: ${inStream?.getClass()?.name}\")\n            }\n            return content\n        }\n    )\n\n    if (cachedJson == null || cachedJson.trim().isEmpty()) {\n        log.error(\"❌ No cached value found for correlationId=${correlationId}_data or value is empty.\")\n        session.transfer(flowFile, REL_FAILURE)\n        return\n    }\n\n    def json2 = mapper.readTree(cachedJson)\n\n    // Step 3: Combine both JSONs\n    def combined = [\n        \"responseFromHTTP1\": json1,\n        \"responseFromHTTP2\": json2\n    ]\n\n    def combinedJsonStr = mapper.writeValueAsString(combined)\n    log.info(\"✅ Combined JSON for correlationId=${correlationId}: ${combinedJsonStr}\")\n\n    // Step 4: Write combined content to FlowFile\n    flowFile = session.write(flowFile, { _, out ->\n        out.write(combinedJsonStr.getBytes(StandardCharsets.UTF_8))\n    } as StreamCallback)\n\n    flowFile = session.putAttribute(flowFile, \"merged.result\", \"success\")\n    session.transfer(flowFile, REL_SUCCESS)\n\n} catch (Exception e) {\n    log.error(\"\uD83D\uDD25 Groovy script failed for correlationId=${correlationId}: ${e.message}\", e)\n    session.transfer(flowFile, REL_FAILURE)\n}\n","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00f3d37a-c2e9-3bd2-99ed-6325c6659788"},{"identifier":"22a4fde3-ce68-3454-8fcb-5705f2a76521","instanceIdentifier":"e873a8db-0195-1000-cac0-2675a4110b98","name":"InvokeHTTP - Source","comments":"","position":{"x":-456.0,"y":-512.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"#{baseurl}#{prop_ep}?name=admin.user.id&name=exchange.package.id","Request OAuth2 Access Token Provider":"5f8e19a8-8546-3565-afec-2ef33d935882","Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","mime.type":"#{prop_ct}","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00f3d37a-c2e9-3bd2-99ed-6325c6659788"},{"identifier":"aff9b456-8f47-38c1-8015-a0e23eed5439","instanceIdentifier":"e9d29de5-0195-1000-3b20-2fdc8b18d85f","name":"PutDistributedMapCache","comments":"","position":{"x":328.0,"y":-272.0},"type":"org.apache.nifi.processors.standard.PutDistributedMapCache","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Cache Entry Identifier":"${correlation.id}_data","Cache update strategy":"replace","Distributed Cache Service":"d82f4b76-54d4-3ac3-adab-2b9db2c2456a","Max cache entry size":"1 MB"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache update strategy":{"name":"Cache update strategy","displayName":"Cache update strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max cache entry size":{"name":"Max cache entry size","displayName":"Max cache entry size","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00f3d37a-c2e9-3bd2-99ed-6325c6659788"},{"identifier":"1873267a-79ce-30e4-84a9-ed5ca8987e29","instanceIdentifier":"e9a0b8ff-0195-1000-523a-0b015c8dead8","name":"Notify","comments":"","position":{"x":336.0,"y":-32.0},"type":"org.apache.nifi.processors.standard.Notify","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"signal-counter-delta":"1","distributed-cache-service":"d82f4b76-54d4-3ac3-adab-2b9db2c2456a","signal-buffer-count":"1","release-signal-id":"${correlation.id}","signal-counter-name":"http_done","attribute-cache-regex":null},"propertyDescriptors":{"signal-counter-delta":{"name":"signal-counter-delta","displayName":"Signal Counter Delta","identifiesControllerService":false,"sensitive":false,"dynamic":false},"distributed-cache-service":{"name":"distributed-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"signal-buffer-count":{"name":"signal-buffer-count","displayName":"Signal Buffer Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"release-signal-id":{"name":"release-signal-id","displayName":"Release Signal Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"signal-counter-name":{"name":"signal-counter-name","displayName":"Signal Counter Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-cache-regex":{"name":"attribute-cache-regex","displayName":"Attribute Cache Regex","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00f3d37a-c2e9-3bd2-99ed-6325c6659788"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"5f0a7df2-ecc1-325f-a5a7-d0aa152e8bed","instanceIdentifier":"e8a7d5d8-0195-1000-ef09-92e403d5fd5c","name":"","source":{"id":"9d36a416-8250-3bb6-929f-695f90833022","type":"PROCESSOR","groupId":"00f3d37a-c2e9-3bd2-99ed-6325c6659788","name":"UpdateAttribute","comments":"","instanceIdentifier":"e8a4c974-0195-1000-f091-fe64a94fde78"},"destination":{"id":"efd74c0c-1c72-3463-9b9c-dbb2726cac2b","type":"PROCESSOR","groupId":"00f3d37a-c2e9-3bd2-99ed-6325c6659788","name":"InvokeHTTP - Target","comments":"","instanceIdentifier":"e87448bf-0195-1000-0f8b-a2311e8f26c6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":491.8939208984375,"y":-630.5316772460938}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00f3d37a-c2e9-3bd2-99ed-6325c6659788"},{"identifier":"b3757bf1-41ce-3fa6-a4ab-1bd78c38c4dc","instanceIdentifier":"ea3874c8-0195-1000-bc9c-9fd0e579b222","name":"","source":{"id":"aa544295-a0b0-36a8-a472-4437d83e5e8f","type":"PROCESSOR","groupId":"00f3d37a-c2e9-3bd2-99ed-6325c6659788","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"e9dc14a2-0195-1000-ae35-35eefb9e63ab"},"destination":{"id":"8103d14d-db66-3b7a-b124-f3fbc33b3def","type":"PROCESSOR","groupId":"00f3d37a-c2e9-3bd2-99ed-6325c6659788","name":"LogAttribute","comments":"","instanceIdentifier":"ea38576a-0195-1000-7f8c-bd8b73c3ca3f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00f3d37a-c2e9-3bd2-99ed-6325c6659788"},{"identifier":"bbce0ac0-191f-3dc9-a049-1dd06da9ae76","instanceIdentifier":"ea395873-0195-1000-61ca-ab8c0c07cf1f","name":"","source":{"id":"aa544295-a0b0-36a8-a472-4437d83e5e8f","type":"PROCESSOR","groupId":"00f3d37a-c2e9-3bd2-99ed-6325c6659788","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"e9dc14a2-0195-1000-ae35-35eefb9e63ab"},"destination":{"id":"8103d14d-db66-3b7a-b124-f3fbc33b3def","type":"PROCESSOR","groupId":"00f3d37a-c2e9-3bd2-99ed-6325c6659788","name":"LogAttribute","comments":"","instanceIdentifier":"ea38576a-0195-1000-7f8c-bd8b73c3ca3f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-526.0,"y":168.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00f3d37a-c2e9-3bd2-99ed-6325c6659788"},{"identifier":"2fdae7be-b7af-3e48-9c20-5237dcabc659","instanceIdentifier":"ea264b75-0195-1000-3135-f0185f67292c","name":"","source":{"id":"2d3128ea-beff-3356-b7e4-433e71f75e1e","type":"PROCESSOR","groupId":"00f3d37a-c2e9-3bd2-99ed-6325c6659788","name":"Wait","comments":"","instanceIdentifier":"e99faa48-0195-1000-5890-ae25579a662d"},"destination":{"id":"2d3128ea-beff-3356-b7e4-433e71f75e1e","type":"PROCESSOR","groupId":"00f3d37a-c2e9-3bd2-99ed-6325c6659788","name":"Wait","comments":"","instanceIdentifier":"e99faa48-0195-1000-5890-ae25579a662d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["wait"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":13.0,"y":-177.0},{"x":16.0,"y":-72.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00f3d37a-c2e9-3bd2-99ed-6325c6659788"},{"identifier":"7ab28dc6-af4e-3718-b279-6edfc202f6a2","instanceIdentifier":"ea38a56d-0195-1000-b4b5-e40d7c604d7f","name":"","source":{"id":"8103d14d-db66-3b7a-b124-f3fbc33b3def","type":"PROCESSOR","groupId":"00f3d37a-c2e9-3bd2-99ed-6325c6659788","name":"LogAttribute","comments":"","instanceIdentifier":"ea38576a-0195-1000-7f8c-bd8b73c3ca3f"},"destination":{"id":"46adbe5c-3c55-305f-acf2-27de157602fd","type":"FUNNEL","groupId":"00f3d37a-c2e9-3bd2-99ed-6325c6659788","name":"Funnel","comments":"","instanceIdentifier":"e8756e04-0195-1000-e68d-993489e4ac74"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00f3d37a-c2e9-3bd2-99ed-6325c6659788"},{"identifier":"efa71952-9854-393a-94d7-e044d7ab01cb","instanceIdentifier":"e9edcc8a-0195-1000-c380-418b02ae7867","name":"","source":{"id":"aff9b456-8f47-38c1-8015-a0e23eed5439","type":"PROCESSOR","groupId":"00f3d37a-c2e9-3bd2-99ed-6325c6659788","name":"PutDistributedMapCache","comments":"","instanceIdentifier":"e9d29de5-0195-1000-3b20-2fdc8b18d85f"},"destination":{"id":"1873267a-79ce-30e4-84a9-ed5ca8987e29","type":"PROCESSOR","groupId":"00f3d37a-c2e9-3bd2-99ed-6325c6659788","name":"Notify","comments":"","instanceIdentifier":"e9a0b8ff-0195-1000-523a-0b015c8dead8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":258.0,"y":-88.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00f3d37a-c2e9-3bd2-99ed-6325c6659788"},{"identifier":"335ef99c-9df0-350e-bf4c-46f2e0d9c5b5","instanceIdentifier":"e9ee965a-0195-1000-be83-ce3aa70c431c","name":"","source":{"id":"2d3128ea-beff-3356-b7e4-433e71f75e1e","type":"PROCESSOR","groupId":"00f3d37a-c2e9-3bd2-99ed-6325c6659788","name":"Wait","comments":"","instanceIdentifier":"e99faa48-0195-1000-5890-ae25579a662d"},"destination":{"id":"2a58d819-b37f-3f07-9676-7144114fcdab","type":"PROCESSOR","groupId":"00f3d37a-c2e9-3bd2-99ed-6325c6659788","name":"LogAttribute","comments":"","instanceIdentifier":"ea28ba86-0195-1000-f888-6e22b02ab8c3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-824.0,"y":-160.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00f3d37a-c2e9-3bd2-99ed-6325c6659788"},{"identifier":"afc4a0b8-f2a1-3cd8-87ad-f97477467079","instanceIdentifier":"e99ffa21-0195-1000-6e8a-5b7a99214ced","name":"","source":{"id":"22a4fde3-ce68-3454-8fcb-5705f2a76521","type":"PROCESSOR","groupId":"00f3d37a-c2e9-3bd2-99ed-6325c6659788","name":"InvokeHTTP - Source","comments":"","instanceIdentifier":"e873a8db-0195-1000-cac0-2675a4110b98"},"destination":{"id":"2d3128ea-beff-3356-b7e4-433e71f75e1e","type":"PROCESSOR","groupId":"00f3d37a-c2e9-3bd2-99ed-6325c6659788","name":"Wait","comments":"","instanceIdentifier":"e99faa48-0195-1000-5890-ae25579a662d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00f3d37a-c2e9-3bd2-99ed-6325c6659788"},{"identifier":"1546afaf-63fb-3301-a2b0-1e340bf8f752","instanceIdentifier":"e8a7c40e-0195-1000-a1a0-a84b9e45a885","name":"","source":{"id":"9d36a416-8250-3bb6-929f-695f90833022","type":"PROCESSOR","groupId":"00f3d37a-c2e9-3bd2-99ed-6325c6659788","name":"UpdateAttribute","comments":"","instanceIdentifier":"e8a4c974-0195-1000-f091-fe64a94fde78"},"destination":{"id":"22a4fde3-ce68-3454-8fcb-5705f2a76521","type":"PROCESSOR","groupId":"00f3d37a-c2e9-3bd2-99ed-6325c6659788","name":"InvokeHTTP - Source","comments":"","instanceIdentifier":"e873a8db-0195-1000-cac0-2675a4110b98"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-272.0,"y":-616.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00f3d37a-c2e9-3bd2-99ed-6325c6659788"},{"identifier":"436a3cd5-6f04-37e5-a48c-d5d924a4bc9b","instanceIdentifier":"ea2ad7bd-0195-1000-5302-de2a3918052a","name":"","source":{"id":"2a58d819-b37f-3f07-9676-7144114fcdab","type":"PROCESSOR","groupId":"00f3d37a-c2e9-3bd2-99ed-6325c6659788","name":"LogAttribute","comments":"","instanceIdentifier":"ea28ba86-0195-1000-f888-6e22b02ab8c3"},"destination":{"id":"d171c7ba-91ee-3aff-aa53-675e3f5d377f","type":"FUNNEL","groupId":"00f3d37a-c2e9-3bd2-99ed-6325c6659788","name":"Funnel","comments":"","instanceIdentifier":"ea2aada8-0195-1000-ee6c-f6fb54134087"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00f3d37a-c2e9-3bd2-99ed-6325c6659788"},{"identifier":"53ff87a1-aa0e-3257-8025-8ebfbd2bc290","instanceIdentifier":"e9d2d35c-0195-1000-c8ab-e034c924322c","name":"","source":{"id":"efd74c0c-1c72-3463-9b9c-dbb2726cac2b","type":"PROCESSOR","groupId":"00f3d37a-c2e9-3bd2-99ed-6325c6659788","name":"InvokeHTTP - Target","comments":"","instanceIdentifier":"e87448bf-0195-1000-0f8b-a2311e8f26c6"},"destination":{"id":"aff9b456-8f47-38c1-8015-a0e23eed5439","type":"PROCESSOR","groupId":"00f3d37a-c2e9-3bd2-99ed-6325c6659788","name":"PutDistributedMapCache","comments":"","instanceIdentifier":"e9d29de5-0195-1000-3b20-2fdc8b18d85f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00f3d37a-c2e9-3bd2-99ed-6325c6659788"},{"identifier":"98f0a1dd-380b-32c9-8d3c-1af031cf85df","instanceIdentifier":"ea297b4c-0195-1000-e63e-eabdc3511023","name":"","source":{"id":"2d3128ea-beff-3356-b7e4-433e71f75e1e","type":"PROCESSOR","groupId":"00f3d37a-c2e9-3bd2-99ed-6325c6659788","name":"Wait","comments":"","instanceIdentifier":"e99faa48-0195-1000-5890-ae25579a662d"},"destination":{"id":"2a58d819-b37f-3f07-9676-7144114fcdab","type":"PROCESSOR","groupId":"00f3d37a-c2e9-3bd2-99ed-6325c6659788","name":"LogAttribute","comments":"","instanceIdentifier":"ea28ba86-0195-1000-f888-6e22b02ab8c3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["expired"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-632.0,"y":-80.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00f3d37a-c2e9-3bd2-99ed-6325c6659788"},{"identifier":"51d63c14-c2c1-360d-a410-ec854247bb02","instanceIdentifier":"e9dd7e2b-0195-1000-39f3-027ca41bc304","name":"","source":{"id":"2d3128ea-beff-3356-b7e4-433e71f75e1e","type":"PROCESSOR","groupId":"00f3d37a-c2e9-3bd2-99ed-6325c6659788","name":"Wait","comments":"","instanceIdentifier":"e99faa48-0195-1000-5890-ae25579a662d"},"destination":{"id":"aa544295-a0b0-36a8-a472-4437d83e5e8f","type":"PROCESSOR","groupId":"00f3d37a-c2e9-3bd2-99ed-6325c6659788","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"e9dc14a2-0195-1000-ae35-35eefb9e63ab"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00f3d37a-c2e9-3bd2-99ed-6325c6659788"},{"identifier":"16ba8d30-21d5-3bc0-9d02-785296af739f","instanceIdentifier":"e8a6a270-0195-1000-0c8d-c384abb0cd29","name":"","source":{"id":"4a229c56-e948-328a-8f21-04ad8bc58be1","type":"PROCESSOR","groupId":"00f3d37a-c2e9-3bd2-99ed-6325c6659788","name":"GenerateFlowFile","comments":"","instanceIdentifier":"e7310ccd-0195-1000-62a1-bca482fac436"},"destination":{"id":"9d36a416-8250-3bb6-929f-695f90833022","type":"PROCESSOR","groupId":"00f3d37a-c2e9-3bd2-99ed-6325c6659788","name":"UpdateAttribute","comments":"","instanceIdentifier":"e8a4c974-0195-1000-f091-fe64a94fde78"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-264.0,"y":-704.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00f3d37a-c2e9-3bd2-99ed-6325c6659788"},{"identifier":"de5de160-c5eb-3388-9cd3-226d51ebc5c1","instanceIdentifier":"e9d32134-0195-1000-689c-e0ce936a794f","name":"","source":{"id":"aff9b456-8f47-38c1-8015-a0e23eed5439","type":"PROCESSOR","groupId":"00f3d37a-c2e9-3bd2-99ed-6325c6659788","name":"PutDistributedMapCache","comments":"","instanceIdentifier":"e9d29de5-0195-1000-3b20-2fdc8b18d85f"},"destination":{"id":"1873267a-79ce-30e4-84a9-ed5ca8987e29","type":"PROCESSOR","groupId":"00f3d37a-c2e9-3bd2-99ed-6325c6659788","name":"Notify","comments":"","instanceIdentifier":"e9a0b8ff-0195-1000-523a-0b015c8dead8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00f3d37a-c2e9-3bd2-99ed-6325c6659788"}],"labels":[],"funnels":[{"identifier":"d171c7ba-91ee-3aff-aa53-675e3f5d377f","instanceIdentifier":"ea2aada8-0195-1000-ee6c-f6fb54134087","position":{"x":-1006.6102455358446,"y":259.8298258708935},"componentType":"FUNNEL","groupIdentifier":"00f3d37a-c2e9-3bd2-99ed-6325c6659788"},{"identifier":"46adbe5c-3c55-305f-acf2-27de157602fd","instanceIdentifier":"e8756e04-0195-1000-e68d-993489e4ac74","position":{"x":-288.0,"y":512.0},"componentType":"FUNNEL","groupIdentifier":"00f3d37a-c2e9-3bd2-99ed-6325c6659788"}],"controllerServices":[{"identifier":"d82f4b76-54d4-3ac3-adab-2b9db2c2456a","instanceIdentifier":"e9b33431-0195-1000-e188-1fc4e8390004","name":"MapCacheClientService","comments":"","type":"org.apache.nifi.distributed.cache.client.MapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"2.3.0"},"properties":{"SSL Context Service":null,"Server Port":"4557","Server Hostname":"localhost","Communications Timeout":"30 secs"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Server Port":{"name":"Server Port","displayName":"Server Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Server Hostname":{"name":"Server Hostname","displayName":"Server Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"00f3d37a-c2e9-3bd2-99ed-6325c6659788"},{"identifier":"ccafeb84-0f69-31fa-9277-85f840cbc258","instanceIdentifier":"e87e8998-0195-1000-040c-19c2dbab46e9","name":"Target - StandardOauth2AccessTokenProvider","comments":"Target OAuth Service used in compare, merge and patch in two realm flows ","type":"org.apache.nifi.oauth2.StandardOauth2AccessTokenProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-oauth2-provider-nar","version":"2.3.0"},"properties":{"audience":null,"grant-type":"client_credentials","ssl-context-service":null,"resource":null,"proxy-configuration-service":null,"refresh-window":"0 s","HTTP Protocols":"H2_HTTP_1_1","service-user-name":null,"client-authentication-strategy":"BASIC_AUTHENTICATION","authorization-server-url":"#{baseurl}#{oauth_token_ep}","client-secret":"#{target_client_secret}","scope":"all","client-id":"#{target_client_id}"},"propertyDescriptors":{"audience":{"name":"audience","displayName":"Audience","identifiesControllerService":false,"sensitive":false,"dynamic":false},"grant-type":{"name":"grant-type","displayName":"Grant Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"resource":{"name":"resource","displayName":"Resource","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"refresh-window":{"name":"refresh-window","displayName":"Refresh Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"service-password":{"name":"service-password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false,"dynamic":false},"service-user-name":{"name":"service-user-name","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"client-authentication-strategy":{"name":"client-authentication-strategy","displayName":"Client Authentication Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"authorization-server-url":{"name":"authorization-server-url","displayName":"Authorization Server URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"refresh-token":{"name":"refresh-token","displayName":"Refresh Token","identifiesControllerService":false,"sensitive":true,"dynamic":false},"client-secret":{"name":"client-secret","displayName":"Client secret","identifiesControllerService":false,"sensitive":true,"dynamic":false},"scope":{"name":"scope","displayName":"Scope","identifiesControllerService":false,"sensitive":false,"dynamic":false},"client-id":{"name":"client-id","displayName":"Client ID","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e72cd66f-0195-1000-1e10-d0fd96e73b49"},{"identifier":"ea0cd80e-ffd2-3381-9e4f-fadc3553490e","instanceIdentifier":"e9c58cbc-0195-1000-ab64-53468e25930e","name":"MapCacheServer","comments":"","type":"org.apache.nifi.distributed.cache.server.map.MapCacheServer","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"2.3.0"},"properties":{"Eviction Strategy":"Least Frequently Used","SSL Context Service":null,"Persistence Directory":null,"maximum-read-size":"1 MB","Port":"4557","Maximum Cache Entries":"10000"},"propertyDescriptors":{"Eviction Strategy":{"name":"Eviction Strategy","displayName":"Eviction Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Persistence Directory":{"name":"Persistence Directory","displayName":"Persistence Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"maximum-read-size":{"name":"maximum-read-size","displayName":"Maximum Read Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Cache Entries":{"name":"Maximum Cache Entries","displayName":"Maximum Cache Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"00f3d37a-c2e9-3bd2-99ed-6325c6659788"},{"identifier":"5f8e19a8-8546-3565-afec-2ef33d935882","instanceIdentifier":"e879777a-0195-1000-35bc-f8b48142b98f","name":"Source - StandardOauth2AccessTokenProvider","comments":"Source OAuth Service used in compare, merge and patch in two realm flows ","type":"org.apache.nifi.oauth2.StandardOauth2AccessTokenProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-oauth2-provider-nar","version":"2.3.0"},"properties":{"audience":null,"grant-type":"client_credentials","ssl-context-service":null,"resource":null,"proxy-configuration-service":null,"refresh-window":"0 s","HTTP Protocols":"H2_HTTP_1_1","service-user-name":null,"client-authentication-strategy":"BASIC_AUTHENTICATION","authorization-server-url":"#{baseurl}#{oauth_token_ep}","client-secret":"#{source_client_secret}","scope":"all","client-id":"#{source_client_id}"},"propertyDescriptors":{"audience":{"name":"audience","displayName":"Audience","identifiesControllerService":false,"sensitive":false,"dynamic":false},"grant-type":{"name":"grant-type","displayName":"Grant Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"resource":{"name":"resource","displayName":"Resource","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"refresh-window":{"name":"refresh-window","displayName":"Refresh Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"service-password":{"name":"service-password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false,"dynamic":false},"service-user-name":{"name":"service-user-name","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"client-authentication-strategy":{"name":"client-authentication-strategy","displayName":"Client Authentication Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"authorization-server-url":{"name":"authorization-server-url","displayName":"Authorization Server URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"refresh-token":{"name":"refresh-token","displayName":"Refresh Token","identifiesControllerService":false,"sensitive":true,"dynamic":false},"client-secret":{"name":"client-secret","displayName":"Client secret","identifiesControllerService":false,"sensitive":true,"dynamic":false},"scope":{"name":"scope","displayName":"Scope","identifiesControllerService":false,"sensitive":false,"dynamic":false},"client-id":{"name":"client-id","displayName":"Client ID","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e72cd66f-0195-1000-1e10-d0fd96e73b49"}],"parameterContextName":"08.PP-BHF-[QA-2-QA1]-comp","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{"00.All ":{"name":"00.All ","parameters":[{"name":"pwd_policies_ct","description":"Password Policies Content-Type Header Value","sensitive":false,"provided":false,"value":"application/vnd.com.covisint.platform.password.policy.v1+json;charset=UTF-8"},{"name":"prop_ep","description":"Properties Endpoint","sensitive":false,"provided":false,"value":"/idmconfig/v1/properties"},{"name":"authz_policies_ct","description":"AuthZ Policies Content-Type Header","sensitive":false,"provided":false,"value":"application/vnd.com.covisint.platform.authorization.policy.v1+json"},{"name":"oauth_token_ep","description":"OAuth 2 Token Endpoint","sensitive":false,"provided":false,"value":"/oauth/v3/token"},{"name":"pwd_policies_ep","description":"Password Policies Endpoint","sensitive":false,"provided":false,"value":"/authn/v4/passwords/policies"},{"name":"authz_policies_ep","description":"AuthZ Policies Endpoint","sensitive":false,"provided":false,"value":"/authz/v2/authorizationPolicies"},{"name":"authz_policies_acc","description":"AuthZ Policies Accept Header","sensitive":false,"provided":false,"value":"application/vnd.com.covisint.platform.authorization.policy.v1+json"},{"name":"pwd_policies_acc","description":"Password Policies Accept Header Value","sensitive":false,"provided":false,"value":"application/vnd.com.covisint.platform.password.policy.v1+json;charset=UTF-8"},{"name":"prop_ct","description":"Properties Content Type","sensitive":false,"provided":false,"value":"application/json"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"},"01.PP-All":{"name":"01.PP-All","parameters":[{"name":"baseurl","description":"Base URL used in all PreProd environments","sensitive":false,"provided":false,"value":"https://api.us1.pp.covisint.com"}],"inheritedParameterContexts":["00.All "],"componentType":"PARAMETER_CONTEXT"},"08.PP-BHF-[QA-2-QA1]-comp":{"name":"08.PP-BHF-[QA-2-QA1]-comp","parameters":[{"name":"target_client_id","description":"Target Client Id","sensitive":false,"provided":false,"value":"QRmOCtNhHleZcU1ATBtGLD1OfWbUOOi4"},{"name":"source_client_secret","description":"Source Client Secret","sensitive":true,"provided":false},{"name":"source_client_id","description":"Source Client Id","sensitive":false,"provided":false,"value":"4Tj9HmIuOfKDRkHFNyIdJaxKMQJapZGZ"},{"name":"target_client_secret","description":"Target Client Secret","sensitive":true,"provided":false}],"inheritedParameterContexts":["01.PP-All"],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}