NiFi_Flow.json
{"flowContents":{"identifier":"8a366a5f-882b-3744-9d7b-8973c4cc5592","instanceIdentifier":"d9b539fd-0195-1000-7ed6-2118fd2a2efc","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[{"identifier":"33579cc0-a551-3a92-9741-3447eab23d61","instanceIdentifier":"e3186797-0195-1000-8cf1-62c3abd986ea","name":"Data Migration - Common","comments":"","position":{"x":-512.0,"y":-480.0},"processGroups":[{"identifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","instanceIdentifier":"d9cac706-0195-1000-12ae-e15fc3516f43","name":"Get Paginated Data","comments":"","position":{"x":-560.0,"y":-576.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"b440f241-e28a-3bb7-910c-12aa89043c2c","instanceIdentifier":"e1b102d9-0195-1000-797a-45a943cb11f7","name":"UpdateAttribute","comments":"","position":{"x":-240.0,"y":-168.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","combined_json":"[${all_pages}]","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"combined_json":{"name":"combined_json","displayName":"combined_json","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"},{"identifier":"18003c42-3743-3eea-827c-e68802cc208b","instanceIdentifier":"e1b1b48e-0195-1000-3981-ff045297d0ad","name":"JoltTransformJSON","comments":"The shift operation moves all elements from nested arrays (*.*) into a single flat array ([]).","position":{"x":-240.0,"y":144.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.3.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"true","Jolt Specification":"[{\n  \"operation\": \"shift\",\n  \"spec\": {\n    \"*\": {\n      \"*\": \"[]\"\n    }\n  }\n}]"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"},{"identifier":"2d5baa2d-6148-3f8a-80c4-a5aeb6627359","instanceIdentifier":"e1cddf64-0195-1000-79b9-58412fac571f","name":"ReplaceText","comments":"","position":{"x":-240.0,"y":-16.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Regular Expression":".*","Replacement Value":"${combined_json}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"},{"identifier":"3ecb0b2a-c747-3304-9d95-f098802c118c","instanceIdentifier":"d9cbd3cc-0195-1000-d258-bf4e87649112","name":"InvokeHTTP","comments":"","position":{"x":-240.0,"y":-784.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"${baseurl}${endpoint}?pageSize=${page.size}&page=${page}","Request OAuth2 Access Token Provider":"50b66f85-830c-3930-993d-33183c9f6209","Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Accept":"${accept}","Socket Write Timeout":"15 secs","mime.type":"${content.type}","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Accept":{"name":"Accept","displayName":"Accept","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"},{"identifier":"8cc798e0-6a62-30e8-96d3-59c51536d9b9","instanceIdentifier":"dfbdd4d4-0195-1000-7e33-56a3a9b5bb9b","name":"UpdateAttribute","comments":"","position":{"x":-240.0,"y":-936.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"total.record.count":"0","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","page":"${start.page}","Stateful Variables Initial Value":null},"propertyDescriptors":{"total.record.count":{"name":"total.record.count","displayName":"total.record.count","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"page":{"name":"page","displayName":"page","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"},{"identifier":"caa2477f-c830-32e4-aef8-226ce52d108f","instanceIdentifier":"dee2eec4-0195-1000-d0cb-6a05b59a4ec8","name":"EvaluateJsonPath","comments":"","position":{"x":-240.0,"y":-624.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","record.count":"$.length()","Return Type":"json","Null Value Representation":"empty string","page_content":"$","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record.count":{"name":"record.count","displayName":"record.count","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"page_content":{"name":"page_content","displayName":"page_content","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"},{"identifier":"976848b3-5975-3aeb-b632-e61c8a8824e2","instanceIdentifier":"dfce5c59-0195-1000-48a5-a045961cea9c","name":"RouteOnAttribute","comments":"","position":{"x":-240.0,"y":-320.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Routing Strategy":"Route to 'match' if all match","more.records":"${record.count:ge(${page.size})}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"more.records":{"name":"more.records","displayName":"more.records","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"},{"identifier":"ce680c4c-bea0-3f50-9047-3023831eed41","instanceIdentifier":"dfec29ba-0195-1000-4f17-016df70e23ba","name":"UpdateAttribute","comments":"Combine each new page with the existing page. Note this is not a valid JSON but it will be fixed in a later processor.  \nExample after two pages: all_pages = \"[{...}, {...}],[{...}]\"","position":{"x":-240.0,"y":-464.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"total.record.count":"${total.record.count:plus(${record.count})}","Delete Attributes Expression":null,"all_pages":"${all_pages:isEmpty():ifElse('', '${all_pages},')}${page_content}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"total.record.count":{"name":"total.record.count","displayName":"total.record.count","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"all_pages":{"name":"all_pages","displayName":"all_pages","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"},{"identifier":"e221118e-8337-30e0-ba1b-9a90670146bd","instanceIdentifier":"e00e8bca-0195-1000-e61e-9a8a92e4a978","name":"UpdateAttribute","comments":"","position":{"x":416.0,"y":-632.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","page":"${page:plus(1)}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"page":{"name":"page","displayName":"page","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"}],"inputPorts":[{"identifier":"39814a80-79b6-3365-8b7f-0f0f352bf35e","instanceIdentifier":"e208176d-0195-1000-d5d0-47276f832230","name":"Get Paginated Date - Input Port","position":{"x":-184.0,"y":-1008.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"DISABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"}],"outputPorts":[{"identifier":"3809c128-f5ff-3c94-a68f-9c9a80092c70","instanceIdentifier":"e2e35492-0195-1000-28dd-99c8d15e6809","name":"Get Paginated Data - Output Port","position":{"x":-184.0,"y":288.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"DISABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"}],"connections":[{"identifier":"6af1aa17-e050-3cfc-8595-3acef77b2ff6","instanceIdentifier":"dff9c1c1-0195-1000-f9a1-97a7c37e5d59","name":"","source":{"id":"caa2477f-c830-32e4-aef8-226ce52d108f","type":"PROCESSOR","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"dee2eec4-0195-1000-d0cb-6a05b59a4ec8"},"destination":{"id":"ce680c4c-bea0-3f50-9047-3023831eed41","type":"PROCESSOR","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"UpdateAttribute","comments":"Combine each new page with the existing page. Note this is not a valid JSON but it will be fixed in a later processor.  \nExample after two pages: all_pages = \"[{...}, {...}],[{...}]\"","instanceIdentifier":"dfec29ba-0195-1000-4f17-016df70e23ba"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-416.0,"y":-496.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"},{"identifier":"37f677c7-dbd7-3926-8847-5ceab5c373cb","instanceIdentifier":"e1cec059-0195-1000-bff7-d4ab0090e6a8","name":"","source":{"id":"2d5baa2d-6148-3f8a-80c4-a5aeb6627359","type":"PROCESSOR","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"ReplaceText","comments":"","instanceIdentifier":"e1cddf64-0195-1000-79b9-58412fac571f"},"destination":{"id":"18003c42-3743-3eea-827c-e68802cc208b","type":"PROCESSOR","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"JoltTransformJSON","comments":"The shift operation moves all elements from nested arrays (*.*) into a single flat array ([]).","instanceIdentifier":"e1b1b48e-0195-1000-3981-ff045297d0ad"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-408.0,"y":120.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"},{"identifier":"461f6039-f77b-3bb7-b853-26f7d68734c1","instanceIdentifier":"dffb107a-0195-1000-1780-08f7f5f38c06","name":"","source":{"id":"ce680c4c-bea0-3f50-9047-3023831eed41","type":"PROCESSOR","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"UpdateAttribute","comments":"Combine each new page with the existing page. Note this is not a valid JSON but it will be fixed in a later processor.  \nExample after two pages: all_pages = \"[{...}, {...}],[{...}]\"","instanceIdentifier":"dfec29ba-0195-1000-4f17-016df70e23ba"},"destination":{"id":"976848b3-5975-3aeb-b632-e61c8a8824e2","type":"PROCESSOR","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"RouteOnAttribute","comments":"","instanceIdentifier":"dfce5c59-0195-1000-48a5-a045961cea9c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-416.0,"y":-336.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"},{"identifier":"cc1b0eca-c8a8-3c41-9cc7-acd4cefb2092","instanceIdentifier":"e01433d3-0195-1000-7ec9-c66a0951b0d9","name":"","source":{"id":"e221118e-8337-30e0-ba1b-9a90670146bd","type":"PROCESSOR","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"UpdateAttribute","comments":"","instanceIdentifier":"e00e8bca-0195-1000-e61e-9a8a92e4a978"},"destination":{"id":"3ecb0b2a-c747-3304-9d95-f098802c118c","type":"PROCESSOR","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"InvokeHTTP","comments":"","instanceIdentifier":"d9cbd3cc-0195-1000-d258-bf4e87649112"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":256.0,"y":-640.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"},{"identifier":"a1b3f06c-3c22-335c-abe2-ae9e0849d672","instanceIdentifier":"dffd1e25-0195-1000-5255-70ae399cb64d","name":"","source":{"id":"976848b3-5975-3aeb-b632-e61c8a8824e2","type":"PROCESSOR","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"RouteOnAttribute","comments":"","instanceIdentifier":"dfce5c59-0195-1000-48a5-a045961cea9c"},"destination":{"id":"b440f241-e28a-3bb7-910c-12aa89043c2c","type":"PROCESSOR","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"UpdateAttribute","comments":"","instanceIdentifier":"e1b102d9-0195-1000-797a-45a943cb11f7"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-416.0,"y":-192.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"},{"identifier":"006564b3-c57d-3d72-a0bb-e577e0bb21ba","instanceIdentifier":"e2101496-0195-1000-c670-07847fc96e2f","name":"","source":{"id":"18003c42-3743-3eea-827c-e68802cc208b","type":"PROCESSOR","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"JoltTransformJSON","comments":"The shift operation moves all elements from nested arrays (*.*) into a single flat array ([]).","instanceIdentifier":"e1b1b48e-0195-1000-3981-ff045297d0ad"},"destination":{"id":"3809c128-f5ff-3c94-a68f-9c9a80092c70","type":"OUTPUT_PORT","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"Get Paginated Data - Output Port","instanceIdentifier":"e2e35492-0195-1000-28dd-99c8d15e6809"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-400.0,"y":272.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"},{"identifier":"00ffa84f-d7fd-38ee-aa9c-07edf2b9bbfe","instanceIdentifier":"e2d26f27-0195-1000-3c62-b6257187a15e","name":"","source":{"id":"3ecb0b2a-c747-3304-9d95-f098802c118c","type":"PROCESSOR","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"InvokeHTTP","comments":"","instanceIdentifier":"d9cbd3cc-0195-1000-d258-bf4e87649112"},"destination":{"id":"f9551d8e-caa9-326d-ba70-823886e5f687","type":"FUNNEL","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"Funnel","comments":"","instanceIdentifier":"e2d24a4e-0195-1000-91f5-dd39f926592b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"},{"identifier":"e496ecb9-0fe6-3aa6-9994-f625e000ca95","instanceIdentifier":"dee3987e-0195-1000-e429-90d7196cc990","name":"","source":{"id":"3ecb0b2a-c747-3304-9d95-f098802c118c","type":"PROCESSOR","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"InvokeHTTP","comments":"","instanceIdentifier":"d9cbd3cc-0195-1000-d258-bf4e87649112"},"destination":{"id":"caa2477f-c830-32e4-aef8-226ce52d108f","type":"PROCESSOR","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"dee2eec4-0195-1000-d0cb-6a05b59a4ec8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-432.0,"y":-648.0},{"x":-432.0,"y":-648.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"},{"identifier":"2fda609e-1b9b-3ce4-8fa7-dd7dbfb19bbd","instanceIdentifier":"dfc52dbc-0195-1000-8850-40262bb1508b","name":"","source":{"id":"8cc798e0-6a62-30e8-96d3-59c51536d9b9","type":"PROCESSOR","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"UpdateAttribute","comments":"","instanceIdentifier":"dfbdd4d4-0195-1000-7e33-56a3a9b5bb9b"},"destination":{"id":"3ecb0b2a-c747-3304-9d95-f098802c118c","type":"PROCESSOR","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"InvokeHTTP","comments":"","instanceIdentifier":"d9cbd3cc-0195-1000-d258-bf4e87649112"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-440.0,"y":-808.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"},{"identifier":"5d62bfe0-d994-3bf4-b0f5-a8ed02fe2047","instanceIdentifier":"e2086dfc-0195-1000-45fe-cb14e2b04da8","name":"","source":{"id":"39814a80-79b6-3365-8b7f-0f0f352bf35e","type":"INPUT_PORT","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"Get Paginated Date - Input Port","instanceIdentifier":"e208176d-0195-1000-d5d0-47276f832230"},"destination":{"id":"8cc798e0-6a62-30e8-96d3-59c51536d9b9","type":"PROCESSOR","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"UpdateAttribute","comments":"","instanceIdentifier":"dfbdd4d4-0195-1000-7e33-56a3a9b5bb9b"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-440.0,"y":-960.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"},{"identifier":"dc071a4d-04a2-3539-851a-90d7e3d97d5d","instanceIdentifier":"e010031e-0195-1000-397b-1e27e767a996","name":"","source":{"id":"976848b3-5975-3aeb-b632-e61c8a8824e2","type":"PROCESSOR","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"RouteOnAttribute","comments":"","instanceIdentifier":"dfce5c59-0195-1000-48a5-a045961cea9c"},"destination":{"id":"e221118e-8337-30e0-ba1b-9a90670146bd","type":"PROCESSOR","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"UpdateAttribute","comments":"","instanceIdentifier":"e00e8bca-0195-1000-e61e-9a8a92e4a978"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":264.0,"y":-440.0},{"x":264.0,"y":-440.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"},{"identifier":"49995ee6-8620-37ec-b6c7-ba9c053dc46a","instanceIdentifier":"e1b2201f-0195-1000-57eb-05c9200fb4ec","name":"","source":{"id":"b440f241-e28a-3bb7-910c-12aa89043c2c","type":"PROCESSOR","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"UpdateAttribute","comments":"","instanceIdentifier":"e1b102d9-0195-1000-797a-45a943cb11f7"},"destination":{"id":"2d5baa2d-6148-3f8a-80c4-a5aeb6627359","type":"PROCESSOR","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"ReplaceText","comments":"","instanceIdentifier":"e1cddf64-0195-1000-79b9-58412fac571f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-416.0,"y":-48.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"}],"labels":[],"funnels":[{"identifier":"f9551d8e-caa9-326d-ba70-823886e5f687","instanceIdentifier":"e2d24a4e-0195-1000-91f5-dd39f926592b","position":{"x":426.83384640210534,"y":-791.5134973417983},"componentType":"FUNNEL","groupIdentifier":"0a7f9c32-2810-30a0-8e74-d45e40e153f8"}],"controllerServices":[],"parameterContextName":"PP-BHF-QA","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"33579cc0-a551-3a92-9741-3447eab23d61"}],"remoteProcessGroups":[],"processors":[{"identifier":"c1f2a3b3-145f-3d4f-8082-af18b5362928","instanceIdentifier":"e2c16718-0195-1000-39f9-76cf95812904","name":"Set Env - UpdateAttribute","comments":"Setup the Environment for specific endpoint","position":{"x":-544.0,"y":-224.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"endpoint":"#{authz_policies_ep}","Delete Attributes Expression":null,"baseurl":"#{baseurl}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","page.size":"200","Stateful Variables Initial Value":null,"start.page":"1","content.type":"#{authz_policies_ct}","max.pages":"2","accept":"#{authz_policies_acc}"},"propertyDescriptors":{"endpoint":{"name":"endpoint","displayName":"endpoint","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"baseurl":{"name":"baseurl","displayName":"baseurl","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"page.size":{"name":"page.size","displayName":"page.size","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"start.page":{"name":"start.page","displayName":"start.page","identifiesControllerService":false,"sensitive":false,"dynamic":true},"content.type":{"name":"content.type","displayName":"content.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"max.pages":{"name":"max.pages","displayName":"max.pages","identifiesControllerService":false,"sensitive":false,"dynamic":true},"accept":{"name":"accept","displayName":"accept","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"33579cc0-a551-3a92-9741-3447eab23d61"}],"inputPorts":[{"identifier":"3172915d-93e2-3434-91a8-e886e7cca912","instanceIdentifier":"e3a08547-0195-1000-3386-6e09de15fd92","name":"Set Env - Common - Input Port","position":{"x":-496.0,"y":-288.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"DISABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"33579cc0-a551-3a92-9741-3447eab23d61"},{"identifier":"64378da8-319e-381b-bde9-5dce09c8062c","instanceIdentifier":"e31ed396-0195-1000-617d-41437a98bc51","name":"Get Paginated Data - Common - Input Port","position":{"x":-488.0,"y":-640.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"DISABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"33579cc0-a551-3a92-9741-3447eab23d61"}],"outputPorts":[{"identifier":"0efbb7cd-b7d9-38ed-9507-b6674bf706bb","instanceIdentifier":"e3a116b2-0195-1000-97ae-7305c2487fad","name":"Set Env -  Common - Output Port","position":{"x":-496.0,"y":-64.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"DISABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"33579cc0-a551-3a92-9741-3447eab23d61"},{"identifier":"2678ea3e-1c5d-3e81-81a1-168d3b51f127","instanceIdentifier":"e31f6ee2-0195-1000-a3e2-19cb34fd7181","name":"Get Paginated Date - Common - Output Port","position":{"x":-488.0,"y":-360.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"DISABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"33579cc0-a551-3a92-9741-3447eab23d61"}],"connections":[{"identifier":"604db998-dd01-332b-b23d-f59cf8a5d700","instanceIdentifier":"e3b2cfb1-0195-1000-525a-9df254fbe7a2","name":"","source":{"id":"3172915d-93e2-3434-91a8-e886e7cca912","type":"INPUT_PORT","groupId":"33579cc0-a551-3a92-9741-3447eab23d61","name":"Set Env - Common - Input Port","instanceIdentifier":"e3a08547-0195-1000-3386-6e09de15fd92"},"destination":{"id":"c1f2a3b3-145f-3d4f-8082-af18b5362928","type":"PROCESSOR","groupId":"33579cc0-a551-3a92-9741-3447eab23d61","name":"Set Env - UpdateAttribute","comments":"Setup the Environment for specific endpoint","instanceIdentifier":"e2c16718-0195-1000-39f9-76cf95812904"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-696.0,"y":-240.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"33579cc0-a551-3a92-9741-3447eab23d61"},{"identifier":"f478866b-5d97-3a55-9ff5-66fedccfba10","instanceIdentifier":"e3b2f572-0195-1000-b709-b52f22d76562","name":"","source":{"id":"c1f2a3b3-145f-3d4f-8082-af18b5362928","type":"PROCESSOR","groupId":"33579cc0-a551-3a92-9741-3447eab23d61","name":"Set Env - UpdateAttribute","comments":"Setup the Environment for specific endpoint","instanceIdentifier":"e2c16718-0195-1000-39f9-76cf95812904"},"destination":{"id":"0efbb7cd-b7d9-38ed-9507-b6674bf706bb","type":"OUTPUT_PORT","groupId":"33579cc0-a551-3a92-9741-3447eab23d61","name":"Set Env -  Common - Output Port","instanceIdentifier":"e3a116b2-0195-1000-97ae-7305c2487fad"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-688.0,"y":-96.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"33579cc0-a551-3a92-9741-3447eab23d61"},{"identifier":"8b6f8923-16d7-3320-8d72-39c4368ce30d","instanceIdentifier":"e31eec97-0195-1000-880b-a81889a7190a","name":"","source":{"id":"64378da8-319e-381b-bde9-5dce09c8062c","type":"INPUT_PORT","groupId":"33579cc0-a551-3a92-9741-3447eab23d61","name":"Get Paginated Data - Common - Input Port","instanceIdentifier":"e31ed396-0195-1000-617d-41437a98bc51"},"destination":{"id":"39814a80-79b6-3365-8b7f-0f0f352bf35e","type":"INPUT_PORT","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"Get Paginated Date - Input Port","instanceIdentifier":"e208176d-0195-1000-d5d0-47276f832230"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-704.0,"y":-576.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"33579cc0-a551-3a92-9741-3447eab23d61"},{"identifier":"ee490f79-cf8f-36f7-98fd-b567cb31438b","instanceIdentifier":"e31f856a-0195-1000-aca4-5105c1e68db9","name":"","source":{"id":"3809c128-f5ff-3c94-a68f-9c9a80092c70","type":"OUTPUT_PORT","groupId":"0a7f9c32-2810-30a0-8e74-d45e40e153f8","name":"Get Paginated Data - Output Port","instanceIdentifier":"e2e35492-0195-1000-28dd-99c8d15e6809"},"destination":{"id":"2678ea3e-1c5d-3e81-81a1-168d3b51f127","type":"OUTPUT_PORT","groupId":"33579cc0-a551-3a92-9741-3447eab23d61","name":"Get Paginated Date - Common - Output Port","instanceIdentifier":"e31f6ee2-0195-1000-a3e2-19cb34fd7181"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-704.0,"y":-392.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"33579cc0-a551-3a92-9741-3447eab23d61"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"PP-BHF-QA","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"8a366a5f-882b-3744-9d7b-8973c4cc5592"},{"identifier":"3b3f773d-4b46-3bda-99ca-eb230013e149","instanceIdentifier":"e21f368f-0195-1000-4c8c-ddf31e2de558","name":"Data Migration","comments":"","position":{"x":-512.0,"y":-688.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"eb0083b9-6b89-3219-b129-8fe0403b5ef3","instanceIdentifier":"e37ef9e3-0195-1000-eb39-27f7705f2211","name":"JoltTransformJSON","comments":"","position":{"x":-528.0,"y":-328.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.3.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[{\n    \"operation\": \"remove\",\n    \"spec\": {\n      \"*\": {\n        \"id\": \"\",\n        \"version\": \"\",\n        \"creation\": \"\",\n        \"creationDate\": \"\"\n      }\n    }\n},\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"*\": {\n        \"realm\": \"PP-BHF-QA1\",\n        \"creator\": \"[PP-BHF-QA1]PP-BHF-QA1_ADMIN\"\n      }\n    }\n }\n]"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3b3f773d-4b46-3bda-99ca-eb230013e149"},{"identifier":"92b64c09-c1ba-3a17-8354-8d065af2cb72","instanceIdentifier":"e20cc2a0-0195-1000-aa1e-c73224f965ed","name":"GenerateFlowFile","comments":"","position":{"x":-528.0,"y":-696.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3b3f773d-4b46-3bda-99ca-eb230013e149"}],"inputPorts":[{"identifier":"13a3e7e7-5aa6-3272-add9-9ddf11b35f38","instanceIdentifier":"e3218b2b-0195-1000-bed0-5861b8b02080","name":"DM - Input Port","position":{"x":-472.0,"y":-408.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"DISABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"3b3f773d-4b46-3bda-99ca-eb230013e149"}],"outputPorts":[{"identifier":"959de7b5-7bf8-35aa-a45a-1b0e4fef8169","instanceIdentifier":"e31c24f9-0195-1000-e58b-0b693a6b2f92","name":"DM - Output Port","position":{"x":-472.0,"y":-536.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"DISABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"3b3f773d-4b46-3bda-99ca-eb230013e149"}],"connections":[{"identifier":"8a7e9ecc-85ba-366e-a7c9-3bd2fc879aa2","instanceIdentifier":"e37f53a0-0195-1000-8909-ea652344fef2","name":"","source":{"id":"eb0083b9-6b89-3219-b129-8fe0403b5ef3","type":"PROCESSOR","groupId":"3b3f773d-4b46-3bda-99ca-eb230013e149","name":"JoltTransformJSON","comments":"","instanceIdentifier":"e37ef9e3-0195-1000-eb39-27f7705f2211"},"destination":{"id":"db08c9ed-ff88-3eed-81dd-59c21fe6b0c5","type":"FUNNEL","groupId":"3b3f773d-4b46-3bda-99ca-eb230013e149","name":"Funnel","comments":"","instanceIdentifier":"e321a21b-0195-1000-8948-ad605b9ab212"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-685.3581848144531,"y":-198.82852172851562}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3b3f773d-4b46-3bda-99ca-eb230013e149"},{"identifier":"95be3444-4e3e-3006-ad87-d27ea40c9684","instanceIdentifier":"e3a408d0-0195-1000-a312-e981d178fed6","name":"","source":{"id":"92b64c09-c1ba-3a17-8354-8d065af2cb72","type":"PROCESSOR","groupId":"3b3f773d-4b46-3bda-99ca-eb230013e149","name":"GenerateFlowFile","comments":"","instanceIdentifier":"e20cc2a0-0195-1000-aa1e-c73224f965ed"},"destination":{"id":"959de7b5-7bf8-35aa-a45a-1b0e4fef8169","type":"OUTPUT_PORT","groupId":"3b3f773d-4b46-3bda-99ca-eb230013e149","name":"DM - Output Port","instanceIdentifier":"e31c24f9-0195-1000-e58b-0b693a6b2f92"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-664.0,"y":-560.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3b3f773d-4b46-3bda-99ca-eb230013e149"},{"identifier":"22af0242-a3cf-33cf-844b-af9138d211bd","instanceIdentifier":"e37f3568-0195-1000-81a4-be4d860a24e3","name":"","source":{"id":"13a3e7e7-5aa6-3272-add9-9ddf11b35f38","type":"INPUT_PORT","groupId":"3b3f773d-4b46-3bda-99ca-eb230013e149","name":"DM - Input Port","instanceIdentifier":"e3218b2b-0195-1000-bed0-5861b8b02080"},"destination":{"id":"eb0083b9-6b89-3219-b129-8fe0403b5ef3","type":"PROCESSOR","groupId":"3b3f773d-4b46-3bda-99ca-eb230013e149","name":"JoltTransformJSON","comments":"","instanceIdentifier":"e37ef9e3-0195-1000-eb39-27f7705f2211"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-685.3581848144531,"y":-350.8285217285156}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3b3f773d-4b46-3bda-99ca-eb230013e149"}],"labels":[],"funnels":[{"identifier":"db08c9ed-ff88-3eed-81dd-59c21fe6b0c5","instanceIdentifier":"e321a21b-0195-1000-8948-ad605b9ab212","position":{"x":-376.0,"y":-176.0},"componentType":"FUNNEL","groupIdentifier":"3b3f773d-4b46-3bda-99ca-eb230013e149"}],"controllerServices":[],"parameterContextName":"PP-BHF-QA","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"8a366a5f-882b-3744-9d7b-8973c4cc5592"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"7f5d4630-69ac-3814-9dc2-5aa50cd9c370","instanceIdentifier":"e3af2ee6-0195-1000-18f4-f36d7ee3ceb3","name":"","source":{"id":"2678ea3e-1c5d-3e81-81a1-168d3b51f127","type":"OUTPUT_PORT","groupId":"33579cc0-a551-3a92-9741-3447eab23d61","name":"Get Paginated Date - Common - Output Port","instanceIdentifier":"e31f6ee2-0195-1000-a3e2-19cb34fd7181"},"destination":{"id":"13a3e7e7-5aa6-3272-add9-9ddf11b35f38","type":"INPUT_PORT","groupId":"3b3f773d-4b46-3bda-99ca-eb230013e149","name":"DM - Input Port","instanceIdentifier":"e3218b2b-0195-1000-bed0-5861b8b02080"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-680.0,"y":-504.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8a366a5f-882b-3744-9d7b-8973c4cc5592"},{"identifier":"2e13c4fa-337f-3b11-96e2-e08e84adb3a0","instanceIdentifier":"e3a89af8-0195-1000-5cdb-ef90b0b8c164","name":"","source":{"id":"0efbb7cd-b7d9-38ed-9507-b6674bf706bb","type":"OUTPUT_PORT","groupId":"33579cc0-a551-3a92-9741-3447eab23d61","name":"Set Env -  Common - Output Port","instanceIdentifier":"e3a116b2-0195-1000-97ae-7305c2487fad"},"destination":{"id":"64378da8-319e-381b-bde9-5dce09c8062c","type":"INPUT_PORT","groupId":"33579cc0-a551-3a92-9741-3447eab23d61","name":"Get Paginated Data - Common - Input Port","instanceIdentifier":"e31ed396-0195-1000-617d-41437a98bc51"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":80.0,"y":-408.0},{"x":80.0,"y":-312.0},{"x":-40.0,"y":-336.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8a366a5f-882b-3744-9d7b-8973c4cc5592"},{"identifier":"83047a52-ed38-329d-bfc9-6d7577b080d3","instanceIdentifier":"e3a6f536-0195-1000-693d-9c1b28e32e64","name":"","source":{"id":"959de7b5-7bf8-35aa-a45a-1b0e4fef8169","type":"OUTPUT_PORT","groupId":"3b3f773d-4b46-3bda-99ca-eb230013e149","name":"DM - Output Port","instanceIdentifier":"e31c24f9-0195-1000-e58b-0b693a6b2f92"},"destination":{"id":"3172915d-93e2-3434-91a8-e886e7cca912","type":"INPUT_PORT","groupId":"33579cc0-a551-3a92-9741-3447eab23d61","name":"Set Env - Common - Input Port","instanceIdentifier":"e3a08547-0195-1000-3386-6e09de15fd92"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":80.0,"y":-520.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8a366a5f-882b-3744-9d7b-8973c4cc5592"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"50b66f85-830c-3930-993d-33183c9f6209","instanceIdentifier":"e25d8069-0195-1000-f8fb-c8cae05d4f6f","name":"NiFi Flow Scoped - StandardOauth2AccessTokenProvider","comments":"","type":"org.apache.nifi.oauth2.StandardOauth2AccessTokenProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-oauth2-provider-nar","version":"2.3.0"},"properties":{"audience":null,"grant-type":"client_credentials","ssl-context-service":null,"resource":null,"proxy-configuration-service":null,"refresh-window":"0 s","HTTP Protocols":"H2_HTTP_1_1","service-user-name":null,"client-authentication-strategy":"BASIC_AUTHENTICATION","authorization-server-url":"#{baseurl}#{oauth_token_ep}","client-secret":"#{client_secret}","scope":"all","client-id":"#{client_id}"},"propertyDescriptors":{"audience":{"name":"audience","displayName":"Audience","identifiesControllerService":false,"sensitive":false,"dynamic":false},"grant-type":{"name":"grant-type","displayName":"Grant Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"resource":{"name":"resource","displayName":"Resource","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"refresh-window":{"name":"refresh-window","displayName":"Refresh Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"service-password":{"name":"service-password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false,"dynamic":false},"service-user-name":{"name":"service-user-name","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"client-authentication-strategy":{"name":"client-authentication-strategy","displayName":"Client Authentication Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"authorization-server-url":{"name":"authorization-server-url","displayName":"Authorization Server URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"refresh-token":{"name":"refresh-token","displayName":"Refresh Token","identifiesControllerService":false,"sensitive":true,"dynamic":false},"client-secret":{"name":"client-secret","displayName":"Client secret","identifiesControllerService":false,"sensitive":true,"dynamic":false},"scope":{"name":"scope","displayName":"Scope","identifiesControllerService":false,"sensitive":false,"dynamic":false},"client-id":{"name":"client-id","displayName":"Client ID","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8a366a5f-882b-3744-9d7b-8973c4cc5592"}],"parameterContextName":"PP-BHF-QA","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{"All ":{"name":"All ","parameters":[{"name":"pwd_policies_ct","description":"Password Policies Content-Type Header Value","sensitive":false,"provided":false,"value":"application/vnd.com.covisint.platform.password.policy.v1+json;charset=UTF-8"},{"name":"prop_ep","description":"Properties Endpoint","sensitive":false,"provided":false,"value":"/idmconfig/v1/properties"},{"name":"authz_policies_ct","description":"AuthZ Policies Content-Type Header","sensitive":false,"provided":false,"value":"application/vnd.com.covisint.platform.authorization.policy.v1+json"},{"name":"oauth_token_ep","description":"OAuth 2 Token Endpoint","sensitive":false,"provided":false,"value":"/oauth/v3/token"},{"name":"pwd_policies_ep","description":"Password Policies Endpoint","sensitive":false,"provided":false,"value":"/authn/v4/passwords/policies"},{"name":"authz_policies_ep","description":"AuthZ Policies Endpoint","sensitive":false,"provided":false,"value":"/authz/v2/authorizationPolicies"},{"name":"authz_policies_acc","description":"AuthZ Policies Accept Header","sensitive":false,"provided":false,"value":"application/vnd.com.covisint.platform.authorization.policy.v1+json"},{"name":"pwd_policies_acc","description":"Password Policies Accept Header Value","sensitive":false,"provided":false,"value":"application/vnd.com.covisint.platform.password.policy.v1+json;charset=UTF-8"},{"name":"prop_ct","description":"Properties Content Type","sensitive":false,"provided":false,"value":"application/json"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"},"PP-All":{"name":"PP-All","parameters":[{"name":"baseurl","description":"","sensitive":false,"provided":false,"value":"https://api.us1.pp.covisint.com"}],"inheritedParameterContexts":["All "],"componentType":"PARAMETER_CONTEXT"},"PP-BHF-QA":{"name":"PP-BHF-QA","parameters":[{"name":"client_secret","description":"Client Secret","sensitive":true,"provided":false},{"name":"client_id","description":"Client Id","sensitive":false,"provided":false,"value":"4Tj9HmIuOfKDRkHFNyIdJaxKMQJapZGZ"}],"inheritedParameterContexts":["PP-All"],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}